.campoTexto {
    margin: 24px 0;
}

.campoTexto label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.campoTexto input {
    background-color: var(--darkgrey);
    color: var(--branco);
    border: 2px solid var(--preto);
    border-radius: 1em;
    width: 100%;
    font-size: 16px;
    padding: 16px;
    box-sizing: border-box;
}